html,
body,
#root {
	height: 100%;
}

#root {
	display: grid;
	grid-template-areas: "site-navbar" "site-content" "site-footer";
	grid-template-columns: 1fr;
	grid-template-rows: 70px 1fr 50px;
}

.site-navbar {
	grid-area: site-navbar;
}

.site-content {
	grid-area: site-content;

	margin: 0 auto;
	max-width: 600px;
	width: 100%;
	padding: 25px;
}

.site-footer {
	grid-area: site-footer;
	line-height: 50px;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
}

.list-item {
	display: block;
	clear: both;

	color: black;
	text-decoration: none;
	text-align: left;

	width: 100%;
	max-width: 600px;
	height: 80px;

	padding: 10px;
	margin: 0 auto 6px auto;

	border: 1px solid #ccc;
	box-shadow: 0 4px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
}

.list-item:hover {
	background: #eee;
	text-decoration: none;
	color: black;
}

.list-item:active {
	background: #ddd;
}

.list-item p {
	margin: 0;
}

.list-item p span {
	margin-right: 20px;
}

@media screen and (max-width: 600px) {
	.card {
		width: 100% !important;
	}
}
